/* Reset básico */
* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #ced4da; 
    margin: 0;
    padding: 20px;
}

/* Cartão principal */
.card {
    max-width: 550px; 
    width: 100%;
    margin: auto;
    background-color: #fcebf7; 
    padding: 40px;
    border-radius: 10px;
    border-top: 5px solid #ff81e0; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card-wide {
    max-width: 900px;
}

h1 {
    color: #ff8bff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: #666;
    font-weight: normal;
    margin-top: 0;
}

/* Inputs */
label {
    display: block;
    margin-bottom: 5px;
    color: #5e420f;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #f3c1e4;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fafafa;
}

/* Foco */
input:focus, 
select:focus, 
textarea:focus {
    outline: none;
    border: 1px solid #f7a1f7;
    box-shadow: 0 0 5px #ffbaf699;
    background-color: #fff;
}

/* Agrupamento lado a lado */
.row-dupla {
    display: flex;
    gap: 20px;
}

.campo-metade {
    flex: 1;
}

/* Fieldset elegante */
fieldset {
    border: 1px solid #020101;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #FFF7F1;
}

legend {
    color: #53194a;
    font-weight: bold;
    padding: 0 5px;
}

.opcao-inline {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    cursor: pointer;
}

.opcao-inline input {
    width: auto;
    margin-right: 10px;
    accent-color: #4b224e;
}

/* Botão */
.btn-enviar, 
button.btn-enviar {
    width: 100%;
    border: none;
    background-color: #f1b7d9;
    color: #faf8fa;
    font-weight: bold;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn-enviar:hover, 
button.btn-enviar:hover {
    background-color: #e4a2da;
    color: #ffffff;
}
